<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Book Package</title>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
</head>

<body>

<div class="form-container">
    <h2>Book: {{ tour.name }}</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Package Name</label>
        <input type="text" value="{{ tour.name }}" readonly>

        <label>Description</label>
        <textarea readonly>{{ tour.desc }}</textarea>

        <label>Price (Ksh)</label>
        <input type="text" value="{{ tour.price }}" readonly>

        <label>Days</label>
        <input type="text" value="{{ tour.days }}" readonly>

        <label>Number of People</label>
        <input type="number" name="people" required>

        <label>Payment Method</label>
        <select name="payment_method" required>
            <option value="">-- Select Payment Method --</option>
            <option value="Mpesa">Mpesa</option>
            <option value="Bank">Bank</option>
            <option value="Cash">Cash</option>
        </select>

        <div class="buttons">
            <button type="submit" class="book-btn">Book Now</button>
            <a href="{% url 'tour_list' %}" class="cancel-btn">Cancel</a>
        </div>
    </form>
</div>

</body>
</html>
